<div class = "text-center py-5">
  <h1>What is <strong>Favo Place?</strong></h1>
  <p>このサイトは自分のお気に入りスポットを共有できるSNSサイトです。</p>
  <p>写真をシェアすることで、新しいお気に入りを見つけたり、誰かのお気に入りを探すお手伝いをしましょう。</p>
  <p></p>
</div>
