<div class="col-md-6 mx-auto mt-5">
  <h1><i class="far fa-hand-spock"></i><strong>Favo Place</strong></h1>
  <p>FavoPlaceは、従来のSNSと違い、お気に入りのスポットをシェアしたり、見つけるためのSNSサイトです。</p>
  <p>誰かのお気に入りスポットを探すお手伝いをしたり、自身の新しいお気に入りスポットを見つけましょう!!</p>
  <div class="row">
    <p class="ml-3"><a class="btn btn-outline-info" href="/users/sign_in">Log in</a></p>
    <p class="ml-3"><a class="btn btn-outline-success" href="/users/sign_up">Sign Up</a></p>
  </div>
</div>

