<div class = "text-center">
  <h1><i class="far fa-hand-spock"></i>FavoPlace</h1>
  <p>FavoPlaceは、従来のSNSと違い、お気に入りの場所をシェアしたり、見つけるためのSNSサイトです。</p>
  <p>誰かのお気に入りスポットを探すお手伝いをしたり、自身の新しいお気に入りスポットを見つけましょう!!</p>
</div>