<% if favo_image.favorited_by?(current_user) %>
  <span>
    <%= link_to(favo_image_favorites_path(favo_image), class:"text-dark", method: :delete, remote: true) do %>
      ♥ <%= favo_image.favorites.count %>
    <% end %>
  </span>
<% else %>
  <span>
    <%= link_to(favo_image_favorites_path(favo_image), class:"text-dark", method: :post, remote: true) do %>
      ♡ <%= favo_image.favorites.count %>
    <% end %>
  </span>
<% end %>