@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// ページネーション中央よせ
.pagination {
  justify-content: center;
  font-size: 25px;
}
// スクロール機能設定
.gm-comment {
  padding: 5px;
  width: 700px;
  height: 200px;
  overflow: scroll;

}

.gm-comment::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.gm-comment::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.gm-comment::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

.profile-image{
	width: 100px;
	height: 100px;
	object-fit: cover;
}