<div class = "text-center">
  <h3 class = "py-4 mb-0"><strong>フォロー一覧</strong></h3>
</div>
<!--フォロー一覧表示-->
<div class = "container">
  <div class = "row">
    <div class = "mx-auto" style="width: 400px;">
      <table>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100),class:"rounded-circle" %></td>
              <td></td>
              <td><%=link_to user.name, user_path(user.id) %></td>
              <td><%= "#{user.favo_images.count} 投稿" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @users %>