<div class = "text-center">
  <h3 class = "py-4 mb-0"><strong>ユーザー一覧</strong></h3>
</div>
<!--ユーザー一覧表示-->
<div class = "container">
  <div class = "row">
    <div class = "mx-auto" style="width: 300px;">
      <table>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100),class:"rounded-circle" %></td>
              <td></td>
              <td><%=link_to user.name, user_path(user.id) %></td>
              <td>
                <!--管理者のみ退会機能が表示され、強制退会-->
                <% if current_user.admin? %>
                  <%= link_to "強制退会", user_withdraw_path(user.id), method: :patch,data: { confirm: "本当に実行しますか?" },class:'btn btn-outline-danger' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @users %>